body{
    background-color: antiquewhite;
    margin-top: 2%;
}

p{
    margin-left: 10%;
    margin-right: 10%;
}

.lista1{
    margin-left: 9%;
}

h2,h3{
    margin-left: 19%;
    margin-bottom: 3%;
}
h1{
    margin-left: 12%;
}
