body{
    background-color: antiquewhite;
    margin-top: 2%;
}

p{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.lista1{
    margin-left: 9%;
}
h1{
    margin-left: 13%;
    margin-bottom: 1%;
}

h2{
    margin-left: 13%;
    margin-bottom: 1%;
}
h3{
    margin-left: 15%;
    margin-bottom: 1%;
}

.topicos{
    margin-left: 10%;
    text-align:justify;
    margin-right: 10%;
    
}

.line{
    padding: 40px;
    background-color: bisque;
    position: relative;
    font-size: 60px;
}

.topicos2{
    margin: 2em 1em 2em 0;
    padding-left: 1em;
    padding-right: 1em;
    font-style: italic;
    border-left: 0.25em solid #f21368;
}
