
body{

    justify-content: last baseline;
    max-width: 80%;
}

p{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.lista1{
    margin-left: 9%;
}
h1{
    margin-left: 13%;
    margin-bottom: 1%;
}

h2{
    margin-left: 13%;
    margin-bottom: 1%;
}
h3{
    margin-left: 15%;
    margin-bottom: 1%;
}

.topicos{
    margin-left: 10%;
    text-align:justify;
    margin-right: 10%;
    
}

.line{
    padding: 40px;
    background-color: bisque;
    position: relative;
    font-size: 60px;
}
.ponto_1{
  padding-bottom: 12px;
} 
li{
  list-style: none;
}

img{
    width: 600px;
    height: 250px;
    margin-left: 12%;
}
.imgfonte{
    width: 600px;
    height: 600px;
}
.img3{
    width: 720px;
    height: 650px;
}

.formula{
    font-size: 25px;
    left: 12%;
}
.img4{
    width: 620px;
    height: 550px;;
}
.imgficha{
    width: 600px;
    height: 600px;
}
